<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId=8874C7FE48F9D364351F0E75A7A8C6F3.uat01-vm-tx03"></script>
</head>
<body>
    <form action="www.google.com" class="paymentWidgets" data-brands="VISA MASTER AMEX">


    </form>

    
</body>
</html>